body{
font-family:Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#111;
color:white;
text-align:center;
padding:30px;
}

nav{
background:#333;
text-align:center;
padding:15px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

section{
padding:40px;
}

.contenedor{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 3px 10px rgba(0,0,0,0.2);
}

footer{
background:#111;
color:white;
text-align:center;
padding:20px;
}